﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="FrmVisorImpresion.aspx.vb" Inherits="APPWEB.FrmVisorImpresion" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div runat="server" id="factura">    
    <% aa.ToString()%>
   
    
        sadasdkjas<br />
        alskdjlasdkj<br />
        alksdjlasdkj<br />
        añlksjdlaskdj<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        ksjdhakjsd</div>
    <asp:Button ID="Button1" runat="server" Text="Button" />
    </form>
</body>
</html>
