﻿<%@ Page Language="vb" AutoEventWireup="false"        MasterPageFile="~/Principal.Master"       CodeBehind="frmInformacionGerencial.aspx.vb" Inherits="APPWEB.frmInformacionGerencial" 
    title="Página sin título" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    </asp:Content>
