﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Principal.Master" CodeBehind="frmCaja.aspx.vb" Inherits="APPWEB.frmCaja" 
    title="Página sin título" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table border="0" cellspacing="0" style="width: 998px">
        <tr>
            <td style="width: 100px; height: 21px">
            </td>
        </tr>
    </table>
</asp:Content>
