﻿.Paginacion{
background-color:#204377;
color:white;
width:27px;
height:27px;
border-radius:50%;
text-align:center;

}
.Paginacion:hover{
background-color:white;
color:#204377;
cursor:pointer
}
.PaginacionP{
background-color:#204377;
color:white;
width:27px;
height:27px;
border-radius:50%;

text-align:center;

}
.PaginacionP:hover{
background-color:white;
color:#204377;
cursor:pointer
}