/* CSS Document */


.celdaArriba{
	background-image: url(../imagenes/home/linea_detalle.png);
	height: 25px;
	font-weight: bold;
}
.celdalinea{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D6D6D6;
	height: 25px;
}

.tabla{
	height: 25px;
	border: 1px solid #D6D6D6;
}


