﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="FrmOrdenDespacho_Load.aspx.vb" Inherits="APPWEB.FrmOrdenDespacho_Load" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form_OrdenDespacho_Load" runat="server"  >    
    </form>
</body>
</html>
