﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Principal.Master" CodeBehind="frmCompras.aspx.vb" Inherits="APPWEB.Compras" 
    title="Compras" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%">
        <tr>
            <td style="vertical-align: top">
                
                </td>
        </tr>
        <tr>
            <td style="text-align: center">
                </td>
        </tr>
    </table>
    <br />
</asp:Content>
