﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Principal.Master" CodeBehind="frmVentas.aspx.vb" Inherits="APPWEB.Ventas" 
    title="Ventas" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table border="0" cellspacing="0" cellpadding=0 style="width: 999px; height: 55px">
        <tr>
            <td style="width: 100px; height: 21px">
                </td>
        </tr>
    </table>
</asp:Content>
